/* 모바일 기본 글자 크기 */
body {
    font-size: 1.5rem;
}
/* 모바일 레이아웃 */
.appHeader, .appMain {
    width: 100%;
}
/* 모바일 헤더 */
.appHeader {
    grid-template: auto / 1fr;
    background-color: #38302e;
}
.brand, .memberOnly, .searchForm {
    padding: 10px 20px;
}
/* 모바일 브랜드 */
.brand {
}
.brand *{
    display: block;
}
/* 모바일 멤버 링크 */
.memberOnly {
    order: -1;
    background-color: #988574;
    color: #fff;
}
/* 모바일 검색 폼 */
input[type="search"] {
    width: calc(100% - 45px);
    margin-right: 5px;
}
.buttonSearch {
    width: 35px;
    height: 35px;
    border: 0;
    padding: 0;
    background-color: transparent;/*버튼 자체 배경색도 없애줘야함*/
    /* background-image: url(./images/btn_search.png);
    background-size: 35px 35px;
    border-radius: 50%;
    text-indent: -9999px; */
    position: relative;
}
.buttonSearch::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url(./images/btn_search.png) 0 0 / cover no-repeat scroll;
}

/* 모바일 내비게이션 */

/* 모바일 메뉴 제어 버튼 */
.buttonBurger {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 60px;
    right: 20px;
    overflow: hidden;
    transition: all 200ms ease-in-out;
}
.burgerBar{
    position: absolute;
    left: 0;
    width: 100%;/*너비나 높이값이 없으면 보여지지 않음*/
    height: 20%;
    background-color: #fff;
}
.burgerBar{
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;/*너비나 높이값이 없으면 보여지지 않음*/
    height: 20%;
    background-color: #fff;
}
.round{
    border-radius: 20px;
}
.positionTop{
    top: 0;
}
.positionMiddle{
    top: 50%;
    transform: translateY(-50%);/*가운데 위치로 이동시키기 위해*/
}
.positionBottom{
    top: 100%;/*애니메이션 시킬거라 0으로 안줌*/
    transform: translateY(-100%);/*시작하는게 100부터니까...*/
}

.isAct .positionTop{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);/*탑이랑 y좌표를 맞춰서 미들값이랑 동일하게해서 중심축기준으로 변화하도록*/
}
.isAct .positionMiddle{
    transform: translateY(-50%) translateX(-105%);/*밖으로 내보내기*/
}
.isAct .positionBottom{
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.menu__list {
    position: fixed; /*뷰포트 기준으로 */
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
    transform: translateX(-100%);/*음수값은 왼쪽으로 빠져나감. 0을 주거나 입력하지 않으면 원래상태로 돌릴 수 있음.*/
}
/* 모바일 메인 콘텐츠 */
.appMain {
    display: flex;
    flex-flow: row wrap;
    padding: 0 20px;
}
.book, .news, .board, .favorite, .twitter{
    width: 100%;
    height: 10vh;
}

/* 모바일 푸터 */
.appFooter {

}